# phpstorm project files
.idea
.env

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# Geany project files
*.geany
*.jshintrc

# storage
/data

# databases dump
/db
